@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1215px;
    margin: 0 auto;
    background: url(../img/2.png) no-repeat 50% 36px;
    font-family: 'Helvetica Neue', 'Tahoma', sans-serif;
    font-size: 14px;
    }

.layout-center-wrapper {
    min-width: 1215px;
    margin: 0 auto;
}

.layout-center-wrapper:after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-image: url(../img/1.png);
    height: 36px;
}

ul{
    margin: 0;
    margin-right: 23px;
    padding: 0;
    list-style: none;
    float: right;
}

li{
    display: inline-block;
    margin-right: -0.2em;
    }

ul a{
    padding: 11px 14px;
    display: block;
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Tahoma', sans-serif;
    font-size: 14px;
    color: #60b5ed;
}

li a:hover{
    background-color: #4eabda;
    color: #ffffff;
}

li:nth-of-type(6) a{
    position: relative;
    color: white;
    text-align: right;
    padding-left: 50px;
}

li:nth-of-type(6) a:before{
    content: "";
    position: absolute;
    width: 45px;
    height: 36px;
    background: url(../img/3.png) no-repeat 0 0;
    left: 15px;
    top: 6px;
}

li:last-of-type{
    float: right;
    height: 36px;
    background-image: linear-gradient(#51b0dc, #2e7ac4);
    color: white;
    padding: 0px 14px;
}

li:last-of-type a{
    display: inline-block;
    color: white;
    text-decoration: underline;
    padding: 0 4px;
    padding-top: 11px;
}

li:last-of-type a:hover{
    text-decoration: none;
    background-color: transparent;
}

.cadastre {
    margin-top: 213px;
    margin-left: 353px;
    padding-top: 15px;
    width: 560px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    font-size: 24px;
    text-align: center;
}

.FB {
    margin-top: 2px;
    margin-left: 353px;
    width: 560px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.63);
}

.fb-link{
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 20px;
    width: 280px;
    height: 65px;
}

.ou-line{
    margin-top: 30px;
}

input[type=text], input[type=password]
{
    width: 276px;
    height: 34px;
    margin: 20px 141px;
    background-color: #101;
}

input:focus
{
    background-color: #1b5288;
    color:#ccc;
    border-color: #689bcc;
}

input[type=checkbox]
{
    margin-left: 141px;
}

.checkboxtext{
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Tahoma', sans-serif;
    color: #ccc;
}

input[type=submit]
{
    margin: 20px 203px 0 206px;
    background-color: #50aedb;
    color: #ccc;
}

.submittext {
    display: inline-block;
    margin-left: 123px;
    font-size: 11px;
    font-family: 'Helvetica Neue', 'Tahoma', sans-serif;
    color: #ccc;
}
